
h2{
  font-family: 'Sofia Sans Extra Condensed', sans-serif;
  font-size: xx-large;
  background-color: aliceblue;
  width: 1350px;
  font-weight: bold;
  border: 5px solid rgb(6, 93, 94);
  padding: 5px;
  margin: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

h4 {
border: 5PX double rgb(41, 105, 130);
background-color: aliceblue;
width: 400px;
}


section {
  background-color: aliceblue;
  font-family:'Sofia Sans Extra Condensed', sans-serif;
  width: 800px;
  border: 5px solid rgb(4, 4, 4);
  padding: 5px;
  margin: 10px;
  float: left

}


.contenido {
  display: none;
}
.menu {

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 1505px;
  }
  

  
.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  
    float: left;
}
  
.menu li a:hover {
  background-color: rgb(36, 157, 173);
}

header {
  background-color:rgb(25, 157, 169);
  padding: 30px;
  text-align: left;
  font-size: 35px;
  color: white;
  margin-top: 10px;
}

.izq{
  font-family: 'Sofia Sans Extra Condensed', sans-serif;
  font-size: x-large;
  background-color: rgb(125, 226, 208);
  border: 3px solid #000;
  width: 27%;
  float: left;
  padding: 10px;
}
.der{
  font-size: larger;
  background-color: rgb(39, 162, 211);
  border: 3px solid #000;
  width: 62git;
  float: left;
  
}
body {
  background-color: rgb(208, 232, 240);
}

.button {
  background-color: blue;
  border: solid "black";
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}